# Set default behavior to automatic text files line ending conversion.
* text=auto

# Force LF line endings for files that should always be LF.
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.md text eol=lf
*.prisma text eol=lf
*.yml text eol=lf

# Denote binary files.
*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.ico -text
